<div class="author-type">
  <p>
    <%= title %>
  </p>
</div>
<div class="checkbox-authors">
  <% authors.to_a.each do |author| %>
    <% selected = f.object&.author_ids&.include?(author.id) %>
    <label>
      <%= author_name(author) %>
      <%= check_box_tag 'book[author_ids][]', author.id, selected %>
    </label>
  <%end%>
</div>
